.dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    & .navbar-container{
        width: 20%;
        height: 100vh;
        border-right: 2px solid;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & img{
            width: 80%;
        }

        & .admin-main-menu{
            display: flex;
            flex-direction: column;
            margin-top: -27rem;
            gap: 2rem;
    
        }
        & .admin-logout{
            margin: 2rem;
        }
        & a{
            text-decoration: none;
            color: black;
        }
    }

    & .main-screen-container{
        width: 80%;
    }
}
